//==========DOLL============//

.viewport_inner {
	position: relative;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	
	.dollpart {
		position: absolute;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		&.bg {
			.colour {
				height: 100%;
				position: relative;
				&.pink {
					background: radial-gradient(100% 60%, rgba(255,223,248,1) 0%, rgba(208,82,179,1) 100%)
				}
			}
			.texture {
				height: 100%;
				position: absolute;
				width: 100%;
				top: 0;
				left: 0;
				mix-blend-mode: overlay;

				&.texture0 {
					background-image: url('../doll/base/bg/bgtexture0.jpg');
				}
			}
		}

		&.dollbase {
			background-image: url('../doll/base/base-min.png');
		}

		&.body {
			&.body0 {
				background-image: url('../doll/base/body/body0-min.png');
			}

			&.body1 {
				background-image: url('../doll/base/body/body1-min.png');
			}

			&.body2 {
				background-image: url('../doll/base/body/body2-min.png');
			}

			&.body3 {
				background-image: url('../doll/base/body/body3-min.png');
			}

			&.body4 {
				background-image: url('../doll/base/body/body4-min.png');
			}
		}

		&.chest {
			&.chest0 {
				background-image: url('../doll/base/chest/chest0-min.png');
			}

			&.chest1 {
				background-image: url('../doll/base/chest/chest1-min.png');
			}

			&.chest2 {
				background-image: url('../doll/base/chest/chest2-min.png');
			}

			&.chest3 {
				background-image: url('../doll/base/chest/chest3-min.png');
			}

			&.chest4 {
				background-image: url('../doll/base/chest/chest4-min.png');
			}
		}

		&.arm {
			&.arm0 {
				background-image: url('../doll/base/arm/arm0-min.png');
			}

			&.arm1 {
				background-image: url('../doll/base/arm/arm1-min.png');
			}

			&.arm2 {
				background-image: url('../doll/base/arm/arm2-min.png');
			}

			&.arm3 {
				background-image: url('../doll/base/arm/arm3-min.png');
			}

			&.arm4 {
				background-image: url('../doll/base/arm/arm4-min.png');
			}
		}

		&.hand {
			&.hand0 {
				background-image: url('../doll/base/hand/hand0-min.png');
			}

			&.hand1 {
				background-image: url('../doll/base/hand/hand1-min.png');
			}

			&.hand2 {
				background-image: url('../doll/base/hand/hand2-min.png');
			}

			&.hand3 {
				background-image: url('../doll/base/hand/hand3-min.png');
			}

			&.hand4 {
				background-image: url('../doll/base/hand/hand4-min.png');
			}
		}

		&.jawline {
			&.jawline0 {
				background-image: url('../doll/base/jawline/jawline0-min.png');
			}

			&.jawline1 {
				background-image: url('../doll/base/jawline/jawline1-min.png');
			}

			&.jawline2 {
				background-image: url('../doll/base/jawline/jawline2-min.png');
			}

			&.jawline3 {
				background-image: url('../doll/base/jawline/jawline3-min.png');
			}

			&.jawline4 {
				background-image: url('../doll/base/jawline/jawline4-min.png');
			}
		}

		&.cheeks {
			&.cheeks0 {
				background-image: url('../doll/base/cheeks/cheeks0-min.png');
			}

			&.cheeks1 {
				background-image: url('../doll/base/cheeks/cheeks1-min.png');
			}

			&.cheeks2 {
				background-image: url('../doll/base/cheeks/cheeks2-min.png');
			}

			&.cheeks3 {
				background-image: url('../doll/base/cheeks/cheeks3-min.png');
			}

			&.cheeks4 {
				background-image: url('../doll/base/cheeks/cheeks4-min.png');
			}
		}

		&.nose {
			&.nose0 {
				background-image: url('../doll/base/nose/nose0-min.png');
			}

			&.nose1 {
				background-image: url('../doll/base/nose/nose1-min.png');
			}

			&.nose2 {
				background-image: url('../doll/base/nose/nose2-min.png');
			}

			&.nose3 {
				background-image: url('../doll/base/nose/nose3-min.png');
			}

			&.nose4 {
				background-image: url('../doll/base/nose/nose4-min.png');
			}
		}

		&.browbone {
			&.browbone0 {
				background-image: url('../doll/base/browbone/browbone0-min.png');
			}

			&.browbone1 {
				background-image: url('../doll/base/browbone/browbone1-min.png');
			}

			&.browbone2 {
				background-image: url('../doll/base/browbone/browbone2-min.png');
			}

			&.browbone3 {
				background-image: url('../doll/base/browbone/browbone3-min.png');
			}
		}

		&.brows {
			&.brows0 {
				background-image: url('../doll/base/brows/brows0-min.png');
			}

			&.brows1 {
				background-image: url('../doll/base/brows/brows1-min.png');
			}

			&.brows2 {
				background-image: url('../doll/base/brows/brows2-min.png');
			}

			&.brows3 {
				background-image: url('../doll/base/brows/brows3-min.png');
			}

			&.brows4 {
				background-image: url('../doll/base/brows/brows4-min.png');
			}
		}

		&.browhairs {
			&.browhairs0 {
				background-image: url('../doll/base/browhairs/browhairs0-min.png');
			}

			&.browhairs1 {
				background-image: url('../doll/base/browhairs/browhairs1-min.png');
			}

			&.browhairs2 {
				background-image: url('../doll/base/browhairs/browhairs2-min.png');
			}

			&.browhairs3 {
				background-image: url('../doll/base/browhairs/browhairs3-min.png');
			}

			&.browhairs4 {
				background-image: url('../doll/base/browhairs/browhairs4-min.png');
			}
		}

		&.eyeballs {
			&.eyeballs0 {
				background-image: url('../doll/base/eyeballs/eyeballs0-min.png');
			}

			&.eyeballs1 {
				background-image: url('../doll/base/eyeballs/eyeballs1-min.png');
			}

			&.eyeballs2 {
				background-image: url('../doll/base/eyeballs/eyeballs2-min.png');
			}

			&.eyeballs3 {
				background-image: url('../doll/base/eyeballs/eyeballs3-min.png');
			}

			&.eyeballs4 {
				background-image: url('../doll/base/eyeballs/eyeballs4-min.png');
			}
		}

		&.eyelids {
			&.eyelids0 {
				background-image: url('../doll/base/eyelids/eyelids0-min.png');
			}

			&.eyelids1 {
				background-image: url('../doll/base/eyelids/eyelids1-min.png');
			}

			&.eyelids2 {
				background-image: url('../doll/base/eyelids/eyelids2-min.png');
			}

			&.eyelids3 {
				background-image: url('../doll/base/eyelids/eyelids3-min.png');
			}

			&.eyelids4 {
				background-image: url('../doll/base/eyelids/eyelids4-min.png');
			}
		}

		&.mouth {
			&.mouth0 {
				background-image: url('../doll/base/mouth/mouth0-min.png');
			}

			&.mouth1 {
				background-image: url('../doll/base/mouth/mouth1-min.png');
			}

			&.mouth2 {
				background-image: url('../doll/base/mouth/mouth2-min.png');
			}

			&.mouth3 {
				background-image: url('../doll/base/mouth/mouth3-min.png');
			}

			&.mouth4 {
				background-image: url('../doll/base/mouth/mouth4-min.png');
			}
		}

		&.mouthlips {
			&.mouthlips0 {
				background-image: url('../doll/base/mouthlips/mouthlips0-min.png');
			}

			&.mouthlips1 {
				background-image: url('../doll/base/mouthlips/mouthlips1-min.png');
			}

			&.mouthlips2 {
				background-image: url('../doll/base/mouthlips/mouthlips2-min.png');
			}

			&.mouthlips3 {
				background-image: url('../doll/base/mouthlips/mouthlips3-min.png');
			}

			&.mouthlips4 {
				background-image: url('../doll/base/mouthlips/mouthlips4-min.png');
			}
		}

		&.headwrap {
			background-image: url('../doll/base/headwrap/headtowel-min.png');
		}

		&.shirt {
			&.shirt-body0chest0 {
				background-image: url('../doll/base/shirt/shirt-body0chest0-min.png');

			}

			&.shirt-body1chest0 {
				background-image: url('../doll/base/shirt/shirt-body1chest0-min.png');

			}

			&.shirt-body2chest0 {
				background-image: url('../doll/base/shirt/shirt-body2chest0-min.png');

			}

			&.shirt-body3chest0 {
				background-image: url('../doll/base/shirt/shirt-body3chest0-min.png');

			}

			&.shirt-body4chest0 {
				background-image: url('../doll/base/shirt/shirt-body4chest0-min.png');

			}

			&.shirt-body0chest1 {
				background-image: url('../doll/base/shirt/shirt-body0chest1-min.png');

			}

			&.shirt-body1chest1 {
				background-image: url('../doll/base/shirt/shirt-body1chest1-min.png');

			}

			&.shirt-body2chest1 {
				background-image: url('../doll/base/shirt/shirt-body2chest1-min.png');

			}

			&.shirt-body3chest1 {
				background-image: url('../doll/base/shirt/shirt-body3chest1-min.png');

			}

			&.shirt-body4chest1 {
				background-image: url('../doll/base/shirt/shirt-body4chest1-min.png');

			}

			&.shirt-body0chest2 {
				background-image: url('../doll/base/shirt/shirt-body0chest2-min.png');

			}

			&.shirt-body1chest2 {
				background-image: url('../doll/base/shirt/shirt-body1chest2-min.png');

			}

			&.shirt-body2chest2 {
				background-image: url('../doll/base/shirt/shirt-body2chest2-min.png');

			}

			&.shirt-body3chest2 {
				background-image: url('../doll/base/shirt/shirt-body3chest2min.png');

			}

			&.shirt-body4chest2 {
				background-image: url('../doll/base/shirt/shirt-body4chest2-min.png');

			}
		}

		//skintones

		&.skin {
			//transition: filter linear 0.1s;
			&.skin0 {
				filter: brightness(0.4) hue-rotate(-24deg);
			}

			&.skin1 {
				filter: brightness(0.44) hue-rotate(355deg);
			}

			&.skin2 {
				filter: brightness(0.55) hue-rotate(337deg);
			}

			&.skin3 {
				filter: brightness(0.62) hue-rotate(348deg);
			}

			&.skin4 {
				filter: brightness(0.72) hue-rotate(340deg);
			}

			&.skin5 {
				filter: brightness(0.77) hue-rotate(350deg);
			}

			&.skin6 {
				filter: brightness(0.9) hue-rotate(345deg);
			}

			&.skin7 {
				filter: unset;
			}

			&.skin8 {
				filter: brightness(1.15) hue-rotate(-19deg) saturate(0.7);
			}

			&.skin9 {
				filter: brightness(1.15) hue-rotate(352deg) saturate(0.8);
			}

			&.skin10 {
				filter: brightness(1.4) hue-rotate(334deg) saturate(0.6);
			}

			&.skin11 {
				filter: brightness(1.4) hue-rotate(344deg) saturate(0.5);
			} 
		}

		//base hair colour

		&.haircol {
			&.haircol0 {
				filter: unset;
			}

			&.haircol1 {
				filter: brightness(2) hue-rotate(0deg);
			}

			&.haircol2 {
				filter: brightness(0.4) hue-rotate(-24deg);
			}

			&.haircol3 {
				filter: brightness(1.3) hue-rotate(335deg) saturate(2);
			}

			&.haircol4 {
				filter: brightness(3.5) hue-rotate(4deg) saturate(0.5);
			}

			&.haircol5 {
				filter: brightness(2) saturate(0.2);
			}

			&.haircol6 {
				filter: brightness(2.5) hue-rotate(-8deg) saturate(1.8);
			}

			&.haircol7 {
				filter: brightness(1.9) hue-rotate(-8deg) saturate(1.3);
			}

			&.haircol8 {
				filter: brightness(1.4) hue-rotate(-94deg) saturate(1.8);
			}

			&.haircol9 {
				filter: brightness(1.4) hue-rotate(-184deg) saturate(1.8);
			}

			&.haircol10 {
				filter: brightness(1.5) hue-rotate(288deg) saturate(4.5);
			}

			&.haircol11 {
				filter: brightness(4.7) hue-rotate(288deg) saturate(0);
			}
		}

		
	}
}