/*========== UI ============*/

//Colours

$pink: #ff94cc;
$palepink: rgba(255,148,204,0.3);
$deeppink: #d052b3;
$lavender: #d9d1f7;
$pinkbluegradient: radial-gradient(circle, rgba(255,224,238,1) 0%, rgba(217,209,247,1) 100%);

//Decorations and Effects
$glow:  0 0 6px rgba(255,255,255,0.5); //box-shadow
$hovergrow: scale(1.1); //transform
$ease: all ease 0.2s; //transition

//Fonts
@font-face {
	font-family: 'euphoria_scriptregular';
	src: url('../fonts/euphoriascript/euphoriascript-regular-webfont.woff2') format('woff2'),
	url('../fonts/euphoriascript/euphoriascript-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

$euphoria: 'euphoria_scriptregular', sans-serif;

//Global Classes
.hide {
	display: none !important;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

html {
	overflow: scroll;
	overflow-x: hidden;

	body {
		//background: radial-gradient(circle, #ffe0ee 0%, #d9d1f7 100%);
	    //background: url("../img/bg/FlyingElves.webm");
	    margin: 0;
	    box-sizing: border-box;
	    //padding-bottom: 56.25%;
	    position: relative;
	    font-family: $euphoria;
	    .background-vid {
	    	position: fixed;
	    	z-index: -1;
	    	video {
	    		width: 100vw;
	    		height: 100vh;
	    		object-fit: cover;
	    		opacity: 0.8;
	    	}
	    }
	    .main {
			//background-color: #fff;
			margin: 0 auto 4em;
			max-width: 1080px;
			min-height: 825px;
			display: flex;
			flex-direction: row;
			box-sizing: border-box;
			padding: 2em;
			.left {
				width: 36%;
				position: relative;
				margin-right: 15px;
				background-color: white;
				padding-bottom: 56.25%;
				box-sizing: border-box;
				border-radius: 50px;
				box-shadow: -2px -2px 15px rgba(255, 255, 255, 70%), 3px 3px 20px rgba(0, 0, 0, 10%);

				#viewportCanvas {
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
				}

				.viewport {
					width: 100%;
					height: 100%;
					//z-index: -1;
					position: absolute;
					top: 0;
					left: 0;
					border-radius: 50px;
					overflow: hidden;

				}
				.links {
					display: flex;
					z-index: 1;
					flex-direction: column;
					justify-content: space-between;
					.top {
						display: flex;
						justify-content: flex-end;
						z-index: 1;
						padding: 1em;
						.save {
							#saveButton {
								background-color: rgba(255,255,255,0.7);
								border-style: none;
								width: 38px;
								height: 38px;
								box-sizing: box-sizing;
								padding: 0.5em;
								border-radius: 100%;
								cursor: pointer;
								box-shadow: -2px -2px 15px rgba(255, 255, 255, 70%), 3px 3px 20px rgba(0, 0, 0, 10%);
								
								&:focus {
									outline: none;
								}
							}
						}
					}
					.bottom {
						display: flex;
						justify-content: start;
					}
				}
			}
			.right {
				width: 64%;
				overflow: hidden;
				border-radius: 50px;
				box-shadow: -2px -2px 15px rgba(255, 255, 255, 70%), 3px 3px 20px rgba(0, 0, 0, 10%);
				background: rgb(250,225,232);
				background: linear-gradient(311deg, rgba(250,225,232,0.6) 0%, rgba(255,255,255,0.7) 100%);
				.controls {
					display: flex;
					flex-direction: column;
					height: 100%;
					.top {
						display: block;
						height: fit-content;
						.sections {
							display: flex;
							justify-content: space-between;
							padding: 25px 50px 0;
							.section {
								.section_link {
									background-color: $deeppink;
									padding: 1em 2em;
									border-radius: 100%;
									transition: $ease;
									&.active {
										background-color: $pink;
										box-shadow: 0 0 10px rgba(255, 148, 204, 0.7), 1px 2px 4px rgba(0, 0, 0, 0.15);
									}

									&:hover {
										transform: $hovergrow;
									}
									a {
										font-size: 36px;
										line-height: 40px;
										text-decoration: none;
										color: white;
									}
								}
							}
						}
						.categs {
							padding: 50px;
							.categs_grid {
								display: grid;
								grid-template-columns: repeat(6, 1fr);
								grid-row-gap: 0.67em;
								.categ {
									margin: 0 auto;
									border-radius: 100%;
									width: 75px;
									height: 75px;
									position: relative;
									background-color: white;
									transition: $ease;
									cursor: pointer;
									&:hover {
										transform: $hovergrow;
										box-shadow: 1px 2px 4px rgba(0,0,0,0.15);
									}
									&.active {
										background-color: $palepink;
										box-shadow: 0 0 10px rgba(255, 148, 204, 0.7), 1px 2px 4px rgba(0, 0, 0, 0.15);
									}
									img {
										position: absolute;
										width: 100%;
										height: auto;
										border-radius: 100%;

									}
								}

							}
						}
					}

					.bottom {
						position: relative;
						height: -webkit-fill-available;
						background-color: rgba(255, 148, 204, 0.3);
						.options_outer {
							width: 100%;
							.options {
								padding: 50px;
								width: 190%;
								display: flex;
								flex-direction: row;
								align-items: center;
								box-sizing: border-box;
								transition: transform ease 0.2s;

								&.variants_active_view {
									transform: translateX(0);
								}

								&.colours_active_view {
									transform: translateX(-50%);
								}

								.options_variants {
									display: grid;
									grid-template-columns: repeat(5, 1fr);
									margin-right: 6em;
									width: 100%;
									.opt {
										width: 93px;
										height: 93px;
										background-color: white;
										margin: 0 auto;
										border-radius: 10px;
										overflow: hidden;
										transition: $ease;

										a {
											width: 100%;
											height: 100%;
											display: block;
											margin: 0;
											padding: 0;
											filter: hue-rotate(248deg) drop-shadow(2px 2px 2px rgba(0,0,0,0.3));
										}

										&.active {
											background-color: $lavender;
											box-shadow: $glow;
										}

										&:hover {
											transform: $hovergrow;
										}
									}
								}

								.options_colours {
									display: grid;
									grid-template-columns: repeat(6, 1fr);
									grid-gap: 0.5em;
									.col {
										width: 76px;
										height: 76px;
										border-radius: 100%;
										transition: $ease;
										cursor: pointer;

										&.active {

										}

										&:hover {
											transform: $hovergrow;
										}

										&.col-skin-0 {
											background-color: #382722;
										}

										&.col-skin-1 {
											background-color: #3d311c;
										}

										&.col-skin-2 {
											background-color: #6e4837;
										}

										&.col-skin-3 {
											background-color: #734e27;
										}

										&.col-skin-4 {
											background-color: #a16a4f;
										}

										&.col-skin-5 {
											background-color: #b3794d;
										}

										&.col-skin-6 {
											background-color: #c99477;
										}

										&.col-skin-7 {
											background-color: #c79461;
										}

										&.col-skin-8 {
											background-color: #edad85;
										}

										&.col-skin-9 {
											background-color: #ebbd88;
										}

										&.col-skin-10 {
											background-color: #ffdecc;
										}

										&.col-skin-11 {
											background-color: #ffe1bf;
										}
									}
								}

								&.body {
									.options_variants {
										.opt {
											a {
												background-size: 105px;
												background-repeat: no-repeat;
												position: relative;
												background-position: bottom;

												&:after {
													position: absolute;
													content: "";
													display: block;
													width: 100%;
													height: 100%;
													background-size: 105px;
													background-repeat: no-repeat;
													background-position: bottom;
												}
											}

											&.opt-body0 {
												a {
													background-image: url('../doll/base/body/body0-min.png');
													&:after {
														background-image: url('../doll/base/arm/arm0-min.png')
													}
												}
											}
											&.opt-body1 {
												a {
													background-image: url('../doll/base/body/body1-min.png');
													&:after {
														background-image: url('../doll/base/arm/arm1-min.png');

													}
												}
											}
											&.opt-body2 {
												a {
													background-image: url('../doll/base/body/body2-min.png');
													&:after {
														background-image: url('../doll/base/arm/arm2-min.png');

													}
												}
											}
											&.opt-body3 {
												a {
													background-image: url('../doll/base/body/body3-min.png');
													&:after {
														background-image: url('../doll/base/arm/arm3-min.png');

													}
												}
											}
											&.opt-body4 {
												a {
													background-image: url('../doll/base/body/body4-min.png');
													&:after {
														background-image: url('../doll/base/arm/arm4-min.png');

													}
												}
											}
										}
									}
								}
							}
						}
						.nav {
							width: 100%;
							padding: 0 50px 25px;
							box-sizing: border-box;
							
							.nav_inner {
								font-family: $euphoria;
								display: flex;
								box-sizing: border-box;
								flex-direction: row;
								justify-content: center;
								.nav_btn {
									position: absolute;
									top: 35%;
									background-color:  $pink;
									border-radius: 100%;
									padding: 5px;
									width: 35px;
									height: 35px;
									display: flex;
									align-items: center;
									justify-content: center;
									transition: $ease;

									&:hover {
										transform: $hovergrow;
									}

									div {
										text-decoration: none;
										color: white;
										font-size: 30px;
										cursor: pointer;
									}
									&.prev {
										left: 10px;
									}

									&.next {
										right: 10px;
									}
									&.disabled {
										opacity: 0.5;
										transform: unset;

										div {
											cursor: default;
										}

									}
								}
								.opt_toggle {
									display: flex;
									justify-content: space-between;
									align-items: center;

									.toggler_type {
										font-family: $euphoria;
										color: $deeppink;
										font-size: 22px;
										transition: transform ease 0.2s;
										&.toggler_type_opts {
											margin-right: 10px;
										}
										&.toggler_type_colours {
											margin-left: 10px;
										}
									}
									.toggler {
										width: 60px;
										height: 40px;
										padding: 2px 4px;
										display: flex;
										border-radius: 100px;
										background-color: rgba(208, 82, 179, 0.4);
										align-items: center;

										.toggler_inner {
											width: 36px;
											display: block;
											height: 36px;
											background-color: white;
											border-radius: 100%;
											cursor: pointer;
											transition: transform ease 0.2s;
										}
									}
									&.variants_active {
										.toggler_type {
											&.toggler_type_opts {
												//font-size: 26px;
												transform: scale(1.2);
												text-shadow: $glow;
											}
										}
										.toggler {
											.toggler_inner {
												transform: translateX(0);
											}
										}
									}
									&.colors_active {
										.toggler_type {
											&.toggler_type_colours {
												//font-size: 26px;
												transform: scale(1.2);
												text-shadow: $glow;
											}
										}
										.toggler {
											.toggler_inner {
												transform: translateX(24px);
											}
										}
									}
								}
							}
						}
					}

				}
			}
		}
	}
}